<div class="wrapper customWrapper">
    <div class="appPadding">
        Thanks for RSVP-ing! We've got your info and look forward to seeing you at the wedding.
    </div>
    <div>
        <h3>{{vm.endData.name}}</h3>
        <h3>Reservation for {{vm.endData.num_guests}} guests</h3>
        <h3>Comments:</h3>
        <h3>{{vm.endData.comments}}</h3>
    </div>
    <div class="appPadding">
        If you need to change your RSVP, just refresh (or revisit) the page and use the same code again.
    </div>
    <div class="appPadding">
        Questions or Comments?
        <br>
        Email us!
    </div>
    <div class="appPadding">
        <a href="mailto:ryann.chandler@gmail.com">ryann.chandler@gmail.com</a>
        <br>
        <a href="mailto:kristenstever@gmail.com">kristenstever@gmail.com</a>
    </div>
</div>